<!DOCTYPE html>
<html>
<head>
	<title>Nama Halaman Ini</title>
</head>
<body>
	<div id="app">
		<form @submit.prevent="products.push({title: product_input})">
			<input type="text" v-model="product_input">
			<button>Tambah Produk</button>
		</form>
		<ul v-if="products.length !== 0">
			<li v-for="product in products">
                <h3>{{product.title}}</h3>
                <p>{{product.description}}</p>
            </li>
		</ul>
        <div v-else>Produk sedang loading...</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>

	<script src="./app.js"></script>

</body>
</html>